﻿@model Formula1Teams.Models.FormulaOneTeam

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Formula-1 Team '<i>@Model.Name</i>'</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.FoundationYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoundationYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChampionshipsWon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChampionshipsWon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryFeePaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryFeePaid)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete", "FormulaOneTeams", new { }, FormMethod.Post, new { role = "form" })) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a href="@ViewBag.ReturnUrl" class="btn btn-default">Cancel</a>
    </div>
    }
</div>
