﻿@model Formula1Teams.Models.FormulaOneTeam

@{
    ViewBag.Title = "Details";
}

<h2>Details of</h2>

<div>
    <h4>Formula-1 Team '<i>@Model.Name</i>'</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoundationYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoundationYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChampionshipsWon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChampionshipsWon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryFeePaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryFeePaid)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id, returnUrl = Request.Path }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to List", "List", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id, returnUrl = Request.Path }, new { @class = "btn btn-danger" })
</p>
