﻿@model IEnumerable<Formula1Teams.Models.FormulaOneTeam>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoundationYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChampionshipsWon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntryFeePaid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr onclick="location.href = '@Url.Action("Details", new { id = item.Id })'">
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FoundationYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChampionshipsWon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntryFeePaid)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id, returnUrl = Request.Path }, new { @class = "btn btn-primary"})
            @Html.ActionLink("Delete", "Delete", new { id = item.Id, returnUrl = Request.Path }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-success"})
</p>
