﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Hi! This is a simple asp.net web-app to create, list, modify and delete Formula-1 teams. Before using it, you have to @Html.ActionLink("register", "Register", "Account").
    If you have already registered, just @Html.ActionLink("log in", "Login", "Account", new { ReturnUrl = Request.Path }, new { })</p>
